$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@font-face {
    font-family: InterBlack;
    src: url("../assets/fonts/Inter-Black.ttf");
}

@font-face {
    font-family: InterBold;
    src: url("../assets/fonts/Inter-Bold.ttf");
}

@font-face {
    font-family: InterExtraBold;
    src: url("../assets/fonts/Inter-ExtraBold.ttf");
}

@font-face {
    font-family: InterExtraLight;
    src: url("../assets/fonts/Inter-ExtraLight.ttf");
}

@font-face {
    font-family: InterLight;
    src: url("../assets/fonts/Inter-Light.ttf");
}

@font-face {
    font-family: InterMedium;
    src: url("../assets/fonts/Inter-Medium.ttf");
}

@font-face {
    font-family: InterRegular;
    src: url("../assets/fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: InterSemiBold;
    src: url("../assets/fonts/Inter-SemiBold.ttf");
}

@font-face {
    font-family: InterThin;
    src: url("../assets/fonts/Inter-Thin.ttf");
}
